<div class='row'>
  <div class='small-12 columns my_subscriptions'>
    <%= simple_form_for @topic do |f| %>
      <%= f.input :name %>
      <%= f.button :submit %>
    <% end %>

    <p>*Add new topic and get recognition. Connect your twitter account
    and we'll share your handle!</p>
    <b>Last topic was created by <%= Topic.newest_topic_by_user %></b>
  </div>
</div>
