<div class='row'>
  <div class'small-12 columns'>
    <h1><%= @topic.name %></h1>

    <ul>
    <% @sources.each do |source| %>
      <li><%= link_to source.title, source.link %> - <%= "#{source.publisher} - #{source.date}" %></li>
    <% end %>
    <ul>
  </div>
</div>
