<div class='row'>
  <div class'small-12 columns'>
    <h1><%= @topic.title %></h1>

    <ul>
      <li><%= link_to "Create new sources", new_source_path %></li>
    <% @sources.each do |source| %>
      <li><%= link_to source.title, source.link %> - <%= "#{source.publisher} - #{source.published_date}" %></li>
    <% end %>
    <ul>
  </div>
</div>
