<div class='contact-section' id='contact'>
  <div class='row'>
    <div class='large-3 small-12 columns'>
      <%= link_to "Sign Up and Follow Topics", new_user_registration_path,:class => "button [secondary success alert]" %>
    </div>

    <div class="small-12 large-7 columns">
      <ul class='home-contacts'>
        <li> contact me at <a href="mailto:john@relevantcategory.com">john@relevantcategory.com</a></li>
        <li> tweet me at <a href="https://twitter.com/johnmoon6" target ="_blank">jmoon90</a></li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class="small-12 large-3 columns">
      <a class="th" href="https://s3.amazonaws.com/pairstudying/images/ethan.JPG">
        <img src="https://s3.amazonaws.com/pairstudying/images/ethan.JPG">
      </a>
    </div>
    <div class="small-12 large-7 columns">
      <p>My name is John Moon and I created RelevantCoverage because I
      wanted more coverage then what "Breaking News' media provided.
      This site helps curate news from multiple sources around a single
      focus and create "Topics". I also write maintain a blog called <%=
      link_to "ThinkAndGrowEntrepreneur",
      "http://www.thinkandgrowentrepreneur.com/", :target => "_blank"
      %>. I sling code at LivingSocial and at night and I work on these projects at night.
    </div>
  </div>
</div>
