<div class='home section'>
  <div class="row">
    <div class="small-12 columns logo">
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h3><font color="white">Follow and create topics with relevant
      stories from multiple sources</font></h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns button-nav">
      <a href="#demo" class="button [secondary] page-scroll home-button-size">About</a>
      <a href="#contact" class="button [secondary] page-scroll home-button-size">Contact</a>
    </div>
  </div>
</div>

<%= render "demo_relevant_coverage" %>

<%= render "contact" %>
