<div class='home section'>
  <div class="row">
    <div class="small-12 columns">
      <h1>Relevant Coverage</h1>

      <b>Follow Topics and get relevant stories from multiple sources.</b>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <a href="#" class="button [secondary success alert]">Demo Topic</a>
      <a href="#" class="button [secondary success alert]">Sample Email</a>
      <a href="#" class="button [secondary success alert]">Plans And Features</a>
    </div>
  </div>
</div>

<div class='demo section'>
  <div class='row'>
    <div class='text-center'>
      <h2>How We Do It</h2>
      <div class="medium-4 small-12 columns service">
        <h3>Mentor</h3>
        <p>Mentorship from experienced programmers who love what they do. Learn best coding practices, techniques, and resources. Get your code reviewed</p>
      </div>
    </div>

    <div class='text-center'>
      <div class="medium-4 small-12 columns service">
        <h3>100% Satisfaction guarantee</h3>
        <p>If you’re not happy with the course, just let us know and we’ll refund your money. It’s as simple as that</p>
      </div>
    </div>

    <div class='text-center'>
      <div class="medium-4 small-12 columns service">
        <h3>Get unstuck faster</h3>
        <p>No more pulling your hair when the code breaks. Collaborate with other students and share knowledge on our platform. 1 on 1 sessions with your mentor</p>
      </div>
    </div>
  </div>
</div>

<div class='plans section'>
  <div class='row'>
    <div class='text-center'>
      <h2>Plans and Features</h2>
      <div class="large-6 small-12 columns service">
        <ul class="pricing-table">
          <li class="title">Free</li>
          <li class="price">Starter</li>
          <li class="bullet-item">1 free topic per week</li>
          <li class="bullet-item">Daily email notifications</li>
        </ul>
      </div>
    </div>

    <div class='text-center'>
      <div class="large-6 small-12 columns service">
        <ul class="pricing-table">
          <li class="title">$0.99/topic</li>
          <li class="price">Pro</li>
          <li class="bullet-item">3 office hours per week</li>
          <li class="bullet-item">1 hour one-on-one with mentor per week</li>
          <li class="bullet-item">1 guest speaker per week</li>
          <li class="bullet-item">Rails Curriculum Not available</li>
        </ul>
      </div>
    </div>

    <div class='contaact'>
      <a href="/signup" class="button [secondary success alert]">Sign Up and Get
      Started</a> or contact me at <a href="mailto:john@relevantcategory.com">john@relevantcategory.com</a>
    </div>
  </div>
</div>
