<div class='home section'>
  <div class="row">
    <div class="small-12 columns">
      <h1><font color="white">Relevant Coverage</font></h1>
      <b><font color="white">Follow Topics and get relevant stories from multiple sources.</font></b>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns button-nav">
      <a href="#demo" class="button [secondary] page-scroll home-button-size">Demo Topic</a>
      <a href="#plans" class="button [secondary] page-scroll home-button-size">Plans And Features</a>
      <a href="#contact" class="button [secondary] page-scroll home-button-size">Contact</a>
    </div>
  </div>
</div>

<%= render "demo_relevant_coverage" %>

<div class='plans-section' id='plans'>
  <div class='row'>
    <div class='text-center'>
      <h2>Plans and Features</h2>
      <div class="large-6 small-12 columns service">
        <ul class="pricing-table">
          <li class="title">Free</li>
          <li class="price">Starter</li>
          <li class="bullet-item">1 free topic per week</li>
          <li class="bullet-item">Daily email notifications</li>
        </ul>
      </div>
    </div>

    <div class='text-center'>
      <div class="large-6 small-12 columns service">
        <ul class="pricing-table">
          <li class="title">$0.99/topic</li>
          <li class="price">Pro</li>
          <li class="bullet-item">3 office hours per week</li>
          <li class="bullet-item">1 hour one-on-one with mentor per week</li>
          <li class="bullet-item">1 guest speaker per week</li>
          <li class="bullet-item">Rails Curriculum Not available</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='contact-section' id='contact'>
  <div class='row'>
    <div class='large-3 small-12 columns'>
      <a href="/signup" class="button [secondary success alert]">Sign Up and Get
      Started</a>
    </div>
    <div class='large-9 small-12 columns'>
      or contact me at <a href="mailto:john@relevantcategory.com">john@relevantcategory.com</a>
    </div>
    
  </div>
</div>
