<div class="row">
  <div class="small-12 columns">
    <%= simple_form_for @subscription do |f| %>
      <%= f.input :topic_id, collection: Topic.all, prompt: 'Please select'%>

      <%= f.button :submit, "Purchase" %>
    <% end %>
  </div>
</div>
