<div class='dashboard'>
  <h1>Dashboard</h1>
  <h5>Following Topics</h5>

  <ul>
    <% @subscriptions.each do |subscription| %>
      <% if subscription.respond_to?(:topic) && !subscription.topic.blank? %>
        <li><%= link_to subscription.topic.name, topic_path(subscription.topic.id) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
