<div class='row'>
  <div class="tabs-content small-12 columns">
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#panel1">Settings</a></dd>
      <dd><a href="#panel2">Dashboard</a></dd>
    </dl>

    <div class="content active" id="panel1">
      <%= render "settings" %>
    </div>

    <div class="content" id="panel2">
      <%= render "dashboard" %>
    </div>
  </div>
</div>
